<h1>Edit File</h1>
<% form_for  @user_file, :remote=> true do |form| %>
  <tr><td>Title: </td><td><%= form.text_field :title %></td></tr>
  <tr><td>Description: </td><td><%= form.text_field :description %></td></tr>

  <%= form.hidden_field :user_id, :value=>current_user.id %>
  <tr><td colspan="2"><%= form.submit 'Update' %></td></tr>
<% end %>

