

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
$(document).ready(function() {
  /* $('#user_file_attachment').change(function(){
      $('#new_user_file').trigger('submit');
      $('#file_field').toggle();
      $('#pbar').toggle();
  }); */

  $("#add_form").click(function(){
    $("#userfile_forms").append("<%= escape_javascript(render :partial=>'form') %>")
  });

  $("#new_user_file").live("submit",
    function() {
        var el = this;
        $.get($(el).attr("action"),
        function(response) {
            $(el).parent().remove();
        });
        return false;
    });


});


// ]]>
</script>






<h1>File Upload</h1>
<div id="flash_notice"></div>
<div id="userfile_added"></div>
<%= link_to image_tag('/images/btn_add_another.png'),"#", :id=>"add_form"  %>
<div id="userfile_forms">
<%= render :partial =>'form' %>
</div>

